@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {   box-sizing: border-box;   margin: 0;   padding: 0; }

:root {

    --Bright-Blue: hsl(220, 98%, 61%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

body {

    width: 100%;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400 700;
    background-color: var(--Very-Dark-Blue);

}

.container {

    position: absolute;
    top: 30%;
    left: 37%;
    margin-top: -50px;
    margin-left: -50px;
    width: 40%;

}

.main_section {


    display: grid;
    grid-template-columns: auto;
    align-content: center;

}

input {

    border: 0;

}

.input_area {

    margin:5px;
    height: 35px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 4px;
    color: #fff;

}

.input_area::-webkit-input-placeholder {

    color: #fff;

}

.input_area::-webkit-input-cursor {

    padding: 55px;

}

input:focus {

    outline: var(--Very-Dark-Grayish-Blue);


}

#input_icons {

    position: absolute;

}

.input_section {

    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
}

.title_div {

    display: grid;
    grid-template-columns: auto;
    margin-right: 0;

}

#title_span {

    color: #fff;

    font-size: 56px;
    display: grid;
    grid-template-columns: auto auto;

}

.theme {

    display: inline;

}

.to_do_list {

    background-color: tan;

}

.info_section {

    background-color: teal;

}