@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* RENK KODLARI */
:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);

  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
}

.theme-light {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);

  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);

  --color-primary: hsl(234, 39%, 85%);
  --input-color: var(--Very-Dark-Grayish-Blue);

  --bg-img: url(images/bg-desktop-light.jpg);
  --bg-mobile-img: url(images/bg-mobile-light.jpg);
}

.theme-dark {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);

  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);

  --color-primary: hsl(235, 21%, 11%);
  --input-color: var(--Very-Dark-Desaturated-Blue);

  --bg-img: url(images/bg-desktop-dark.jpg);
  --bg-mobile-img: url(images/bg-mobile-dark.jpg);
}

body {
  width: 100%;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 400 700;
  background-color: var(--color-primary);
}

/* Ana Container */
.container {
  position: absolute;
  top: 30%;
  left: 37%;
  margin-top: -50px;
  margin-left: -50px;
  width: 40%;
}

.main_section {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
}


/* Input kutusunun çevresi */
input {
  border: 0;
}

.input_area {
  margin: 5px;
  height: 35px;
  background-color: var(--input-color);
  color: #fff;
}
/* Placeholder rengi */
.input_area::-webkit-input-placeholder {
  color: #fff;
}

.input_area::-webkit-input-cursor {
  padding: 55px;
}

input:focus {
  outline: var(--Very-Dark-Grayish-Blue);
}

#input_icons {
  position: absolute;
}

.input_section {
  margin-bottom: 20px;
}

.input_section,
.to_do_list > div {
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-radius: 5px;
}

.to_do_list {
  display: grid;
  grid-template-columns: auto;
}

.to_do_list > :not(:last-child) {
  margin: 2px;
  border-bottom: 1px solid;
  border-color: var(--Light-Grayish-Blue);
}

.title_div {
  display: grid;
  grid-template-columns: auto;
  margin-right: 0;
}

#title_span {
  color: #fff;
  font-size: 56px;
  display: grid;
  grid-template-columns: auto auto;
}

.theme {
  display: inline;
}

#add_Button {
  background-color: var(--Very-Dark-Blue);
  border: 1;
  color: #fff;
}

#theme_Button {
  width: 24px;
  height: 24px;
}

.info_section {
  background-color: teal;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Delete Button */
div.input-icons {
  position: relative;
}

button.del-button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  right: 1%;
  letter-spacing: 1px;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 40px;
}

button.del-button::before,
button.del-button::after {
  background-color: white;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 40px;
  z-index: -1;
}

button.del-button::before {
  top: 0;
  transform: rotate(45deg);
}

button.del-button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

button.del-button:hover {
  color: var(--Dark-Grayish-Blue);
}

button.del-button:hover::before,
button.del-button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}